.about {
  background-color: rgb(244, 246, 248);
  color: black;
}

.aboutOverview {
}

.about__Container {
  display: flex;
  height: 100%;
  margin: 0% 10%;
  justify-content: center;
  position: relative;
}

.aboutPartners__Container {
  display: flex;
}

.aboutPartners__MobileContainer {
  display: none;
}

@media (max-width: 650px) {
  .aboutPartners__Container {
    display: none;
  }

  .aboutPartners__MobileContainer {
    display: flex;
  }
}
.about__Intro,
.aboutPartners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPartners h1,
.aboutStaff__Container h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

.aboutPartners {
  padding-top: 7%;
  padding-bottom: 5%;
  height: 90vh;
  margin: 1%;
  margin-bottom: 2%;
}

.aboutPartners__Cycler {
  display: flex;
  justify-content: center;
  margin: 3%;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 8%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.aboutPartners__Cycler div {
  --animation: slide;
  animation: var(--animation, none) 30s infinite linear;
  height: 180%;
}

.aboutPartners img {
  object-fit: contain;
  width: 25%;
  transition: opacity 0.2s;
}

@keyframes slide {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-180%);
  }
  100% {
    transform: translateY(10%);
  }
}

.aboutPartners__Mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}
.aboutPartners__Mobile h1 {
  font-size: 2rem;
  padding-bottom: 2%;
  text-align: center;
  font-weight: 800;
}
.aboutPartners__MobImg {
  height: 160px;
  margin-bottom: 3%;
  border-radius: 8%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.aboutStaff__Container {
  padding-top: 6%;
  padding-bottom: 4%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutStaff__Color {
  color: "rgb(174, 213, 243)";
  background-color: "rgb(33, 54, 80)";
}

.aboutStaff {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.aboutStaff__Column {
  width: 30%;
}

.aboutStaff__Profile {
  width: 50%;
}

.aboutStaff__Profile,
.aboutStaff__Column {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.aboutStaff__Profile h2 {
  font-size: 1.3em;
  padding-left: 5%;
  color: white;
}

.aboutStaff__Profile ul {
  list-style: none;
  margin: 0;
  padding-left: 5%;
}

.aboutStaff__Profile div {
  font-size: 1.2rem;
}

.aboutStaff__Name {
  cursor: pointer;
  margin: 2%;
}

.aboutStaff__Name h5 {
  font-weight: bold;
  color: white;
}

.aboutStaff__Profile::-webkit-scrollbar,
.aboutStaff__Column::-webkit-scrollbar {
  background-color: rgb(33, 54, 80);
  width: 1em;
}

.abouStaff__Profile::-webkit-scrollbar-track,
.abouStaff__Column::-webkit-scrollbar-track {
  background-color: rgb(33, 54, 80);
}

.abouStaff__Profile::-webkit-scrollbar-thumb,
.abouStaff__Column::-webkit-scrollbar-thumb,
.abouStaff__Name:hover {
  background-color: rgb(49, 80, 118);
}

.abouStaff__ContentHeader {
  font-weight: bold;
}

.abouStaff__Title {
  padding-left: 12%;
  width: 100%;
}

.aboutStaff__Title h2 {
  font-weight: 800;
}

@media (max-width: 650px) {
  .aboutStaff__Container {
    padding-top: 15%;
    margin-top: 5%;
    height: 75vh;
  }
}
