.homeSpinner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 2%;
}

.homeSpinner h6 {
  margin: 2%;
}
