.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 246, 248);
  padding-bottom: 5%;
}

.news h1 {
  padding: 1%;
  margin: 1%;
  font-weight: 800;
}

.news__Cards {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .news__Cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.news__Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 40%;
  margin: 2%;
  padding: 0% 2%;
  border-radius: 1%;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 650px) {
  .news__Card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 1%;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  }

  .news__Card h6 {
    margin: 2%;
  }
}

.news__Card h6 {
  margin: 2%;
}

.news__Image {
  margin-top: 2%;
  object-fit: cover;
  width: 30vw;
  height: 30vh;
  border-radius: 2%;
}
@media (max-width: 650px) {
  .news__Image {
    object-fit: cover;
    width: 70vw;
    height: 16vh;
    border-radius: 2%;
  }
}

.news__Page p {
  color: black;
  cursor: pointer;
}

.news__Article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.news__Article h3 {
  text-align: center;
  font-weight: bold;
  margin: 2% 5% 2% 5%;
  width: 60%;
}

.news__Article img {
  width: 40%;
}

.news__ArticleBody p {
  margin: 2% 20%;
  font-size: 1.1em;
}

@media (max-width: 650px) {
  .news__Article img {
    width: 80%;
    margin-bottom: 5%;
  }

  .news__Article h3 {
    text-align: center;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .news__ArticleBody p {
    margin: 2% 5%;
  }
}

.news__ArticleDate {
  text-align: center;
  margin-bottom: 5%;
}

.news__ArticleReturn {
  font-weight: bold;
  cursor: pointer;
}

.newsHome {
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  .newsHome {
    height: 100vh;
    margin-top: 16%;
    align-items: center;
    justify-content: flex-start;
  }

  .newsHomeMobile {
    align-items: center;
    height: 50%;
    justify-content: flex-start;
  }
}

.newsHome__Card {
  display: flex;
}

.pagination {
  margin: 0;
}

.newsHome__Title {
  font-weight: bold;
  padding: 3%;
  width: 46vw;
}

.newsHome__Date {
  margin-bottom: 5%;
}
.newsHome__Link {
  cursor: pointer;
}

.newsHome__Link:hover {
  color: rgb(127, 32, 168);
}

.newsHome__Text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  .newsHome__Image {
    margin-top: 18%;
    width: 74vw;
    height: 40vh;
  }

  .snapComponent__ImageBlackBg {
    background-color: rgb(244, 246, 248);
  }
  .newsHome__Title {
    width: 100%;
  }
  h4 {
    font-size: 1.2em;
  }

  .newsHome__Date {
    margin-bottom: 5%;
  }
}
