* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

h2,
h4,
h5 {
  font-size: 0.8em;
}

li {
  font-size: 0.8em;
}

html,
#root {
  background-color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.footer {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 0.8em;
}

@media (max-width: 650px) {
  .footer {
    display: none;
  }
  .arrow {
    display: none;
  }
}

.footer p {
  margin: 0;
}
